body{
  height: 100vh;
  background: #ffffff !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  overflow: hidden;
  border: 0 !important;
  border-radius: 15px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.img-left{
  width: 50%;
  background: url('img/cover.png') center;
  background-size: cover;

}

.card-body{
  padding: 2rem;
}

.title{
  margin-bottom: 2rem;
}

.form-input{
  position: relative;
}

.form-input input{
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
  background: transparent;
}

.form-input span{
  position: absolute;
  top: 10px;
  padding-left: 15px;
  color: #00adb5;
}

.form-input input::placeholder{
  color: #bbbbbb;
  padding-left: 0px;
}

.form-input input:focus, .form-input input:valid{
  border: 1.5px solid #00adb5;
}

.form-input input:focus::placeholder{
  color: #00adb5;
}

.form-box button[type="submit"]{
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: #00adb5;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: .1rem;
  transition: 0.5s;
  height: 40px;
}

.form-box button[type="submit"]:hover{
  background: #00888f;
}

.register-link{
  color: #00adb5;
  font-weight: bold;
}

.register-link:hover{
  color: #00888f;
  text-decoration: none;
}
